Package: com.isaaccloudsync
Name: IsaacSteamSynciOS
Version: 1.2.3
Architecture: iphoneos-arm64
Description: Portable Steam Cloud and achievement synchronization for The Binding of Isaac: Repentance on iOS.
Maintainer: emp0ry
Author: emp0ry
Section: Tweaks
Depends: ellekit
Priority: optional
Homepage: https://github.com/emp0ry/IsaacSteamSynciOS
